#set($subject = "$device.name: alarm!")
#set($alarmName = $position.getString("alarm"))
#if(    $alarmName == "general")
	#set($alarmName = "General")
#elseif($alarmName == "sos")
	#set($alarmName = "SOS")
#elseif($alarmName == "vibration")
	#set($alarmName = "Vibración")
#elseif($alarmName == "movement")
	#set($alarmName = "Movimientp")
#elseif($alarmName == "lowspeed")
	#set($alarmName = "Velocidad baja")
#elseif($alarmName == "overspeed")
	#set($alarmName = "Exceso de velocidad")
#elseif($alarmName == "fallDown")
	#set($alarmName = "Frenada brusca")
#elseif($alarmName == "lowPower")
	#set($alarmName = "Energia baja")
#elseif($alarmName == "lowBattery")
	#set($alarmName = "Bateria baja")
#elseif($alarmName == "fault")
	#set($alarmName = "Alarma de fallo")
#elseif($alarmName == "powerOff")
	#set($alarmName = "Corte de energía")
#elseif($alarmName == "powerOn")
	#set($alarmName = "Puesta en marcha")
#elseif($alarmName == "door")
	#set($alarmName = "Alarma de puerta")
#elseif($alarmName == "lock")
	#set($alarmName = "Bloqueado")
#elseif($alarmName == "unlock")
	#set($alarmName = "Desbloqueado")
#elseif($alarmName == "geofence")
	#set($alarmName = "Geocerca")
#elseif($alarmName == "geofenceEnter")
	#set($alarmName = "Entrada a geocerca")
#elseif($alarmName == "geofenceExit")
	#set($alarmName = "Salida de geocerca")
#elseif($alarmName == "gpsAntennaCut")
	#set($alarmName = "Corte de Antena GPS")
#elseif($alarmName == "accident")
	#set($alarmName = "Accidente")
#elseif($alarmName == "tow")
	#set($alarmName = "Remolcado")
#elseif($alarmName == "idle")
	#set($alarmName = "Inactivo")
#elseif($alarmName == "highRpm")
	#set($alarmName = "Revoluciones altas")
#elseif($alarmName == "hardAcceleration")
	#set($alarmName = "Aceleración Brusca")
#elseif($alarmName == "hardBraking")
	#set($alarmName = "Frenado Brusco")
#elseif($alarmName == "hardCornering")
	#set($alarmName = "Giro Brusco")
#elseif($alarmName == "laneChange")
	#set($alarmName = "Cambio de carril")
#elseif($alarmName == "fatigueDriving")
	#set($alarmName = "Conduciendo con cansancio")
#elseif($alarmName == "powerCut")
	#set($alarmName = "Corte de corriente")
#elseif($alarmName == "powerRestored")
	#set($alarmName = "Restauración de corriente")
#elseif($alarmName == "jamming")
	#set($alarmName = "Interferencia")
#elseif($alarmName == "temperature")
	#set($alarmName = "Temperatura")
#elseif($alarmName == "parking")
	#set($alarmName = "Estacionado")
#elseif($alarmName == "bonnet")
	#set($alarmName = "Capó")
#elseif($alarmName == "footBrake")
	#set($alarmName = "Freno de mano")
#elseif($alarmName == "fuelLeak")
	#set($alarmName = "Fuga de combustible")
#elseif($alarmName == "tampering")
	#set($alarmName = "Manipulación")
#elseif($alarmName == "removing")
	#set($alarmName = "Remocion")
#end
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name\nAlarma:  *$alarmName*\nFecha y hora:  $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)
