#set($subject = "$device.name: Resultado de comando")
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nResultado del comando recibido: $position.getString("result")\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)
