#set($subject = "$device.name: online")
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nAlerta: *Dispositivo en linea*\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)