#set($subject = "$device.name: status is unknown")
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nAlerta: *Desconocido*\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)