#set($subject = "$device.name: driver has changed")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString("driverUniqueId"))
#end
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nAlerta: *El conductor $driverName ha cambiado*\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)\nhttps://www.google.com/maps/search/$position.latitude,$position.longitude