#set($subject = "$device.name: has entered geofence")
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nAlerta: *Ingreso a la geocerca*\n geocerca: $geofence.name\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)\nhttps://www.google.com/maps/search/$position.latitude,$position.longitude