#set($subject = "$device.name: maintenance is required")
ALERTA DEL SISTEMA DE RASTREO\nEquipo: $device.name \nAlerta: *Mantenimiento $maintenance.name requerido*\n Fecha y Hora: $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)\nhttps://www.google.com/maps/search/$position.latitude,$position.longitude